.body {
  font-family: "Roboto", sans-serif;
}
.topo {
  background-color: #cf2b2b;
  padding: 0 0px 0 21px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topo h1 {
  font-size: 44px;
  font-family: "Righteous", cursive;
  letter-spacing: -0.012em;
  margin-bottom: 4px;
}

p,
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

.img-item {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}
p.preco::before {
  content: "R$ ";
}

.secoes {
  background-color: #eeeeee;
  padding-top: 123px;
  padding-bottom: 108px;
}
.secao {
  background-color: #eeeeee;
  margin-top: 27px;
}

.secao:nth-child(1) {
  margin-top: 0px;
}

.secao h1 {
  font-family: "Righteous", cursive;
  font-size: 26px;
  margin-left: 19px;
  color: #333333;
  letter-spacing: 0.018em;
}
.caixa-items {
  display: flex;
  overflow-x: auto;
  margin-top: 16px;
}

.item-selecao {
  background-color: #fff;
  border-radius: 9px;
  margin: 0px 8px;
  width: 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffffff;
  box-shadow: 0 0 8px -5px black;
}

.prato .item-selecao {
  height: 206px;
}

.bebida .item-selecao {
  height: 192px;
}

.sobremesa .item-selecao {
  height: 187px;
}

.item-selecao h2 {
  color: #333333;
  font-size: 16pxS;
  font-weight: bold;
  width: 147px;
  height: 23px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.item-selecao .descricao {
  color: #a6a6a6;
  font-weight: 300;
  font-size: 15px;
  width: 147px;
  height: 39px;
  display: flex;
  align-items: center;
}

.item-selecao:nth-child(1) {
  margin-left: 19px;
}

.caixa-btn-finaliza {
  padding: 15px 0 16px 25px;
  height: 92px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.btn-fechar-pedido {
  width: 364px;
  height: 61px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.018em;
  color: #ffffff;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
}

.btn-desabilitado {
  background-color: #cbcbcb;
}

.btn-habilitado {
  background-color: #32b72f;
}

.linha-preco {
  display: flex;
  width: 147px;
  justify-content: flex-start;
}

.prato .linha-preco {
  margin-top: 18px;
}
.linha-preco img {
  width: 19px;
  height: 19px;
  display: none;
}

.selecionado .linha-preco img {
  display: inline;
}

.selecionado .linha-preco {
  justify-content: space-between;
}

.caixa-confirmacao {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  top: calc(50% - 151px);
  left: calc(50% - 188px);
  border-radius: 9px;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.caixa-confirmacao h1 {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.caixa-confirmacao span {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
}

.texto-pedido {
  width: 80%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.texto-pedido .total span {
  font-weight: bold;
}
.caixa-confirmacao .texto-pedido p {
  display: flex;
  justify-content: space-between;
}

.btn-confirmar {
  width: 329px;
  height: 52px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  background-color: #ffffff;
  border-width: 0;
}

.btn-confirmar a {
  color: #50d074;
}

.btn-cancelar {
  width: 100%;
  font-size: 20px;
  background-color: #50d074;
  border-width: 0;
  font-weight: bold;
  color: #ffffff;
}
.mostra {
  display: flex;
}

/*classe aplicada dinamicamente aos itens que estiverem selecionados */
.selecionado {
  border: 5px solid #32b72f;
}

@media screen and (max-width: 377px) {
  .caixa-confirmacao {
    width: 100%;
    left: 0;
  }

  .btn-confirmar {
    width: 100%;
    border-radius: 0;
  }
}
