.body {
  font-family: "Roboto", sans-serif;
}
.topo {
  background-color: #cf2b2b;
  padding: 0 0px 0 21px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topo h1 {
  font-size: 44px;
  font-family: "Righteous", cursive;
  letter-spacing: -0.012em;
  margin-bottom: 4px;
}


p,
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

.img-item {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}
p.preco::before {
  content: "R$ ";
}
.secao {
  background-color: #eeeeee;
}

.secao h1 {
  font-family: "Righteous", cursive;
  font-size: 26px;
  margin-left: 19px;
  margin-bottom: 17px;
}
.caixa-items {
  display: flex;
  overflow-x: auto;
  padding-bottom: 16px;
}

.item-selecao {
  background-color: #fff;
  border-radius: 9px;
  margin: 8px 8px;
  width: 172px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px -3px black;
  box-sizing: border-box;
}

.item-selecao h2 {
  color: #333333;
  font-size: 16pxS;
  font-weight: bold;
}

.item-selecao .descricao {
  color: #a6a6a6;
  font-weight: 200;
  font-size: 15px;
}

.item-selecao:nth-child(1) {
  margin-left: 19px;
}

.btn-fechar-pedido {
  width: 364px;
  height: 61px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
}

.btn-desabilitado {
  background-color: #cbcbcb;
}

.btn-habilitado {
  background-color: #32b72f;
}

.linha-preco {
  display: flex;
  width: 100%;
  flex-direction: space-between;
  justify-content: space-evenly;
}

.linha-preco img {
  width: 19px;
  height: 19px;
  display: none;
}

.selecionado .linha-preco img {
  display: inline;
}

.caixa-confirmacao {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  top: calc(50% - 151px);
  left: calc(50% - 188px);
  border-radius: 9px;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.caixa-confirmacao h1 {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.btn-confirmar {
  width: 329px;
  height: 52px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  background-color: #ffffff;
}

.btn-confirmar a {
  color: #50d074;
}

.btn-cancelar {
  width: 100%;
  font-size: 20px;
  background-color: #50d074;
  border-width: 0;
  font-weight: bold;
  color: #ffffff;
}
.mostra {
  display: flex;
}

/*classe aplicada dinamicamente aos itens que estiverem selecionados */
.selecionado {
  border: 5px solid #32b72f;
}

@media screen and (max-width: 613px) {
  /* -O estilo abaixo impossibilita a rolagem lateral no modo mobile */
  /* -Adicionado apenas para satisfazer o requerimento do projeto: */
  /* "No modo desktop um scroll é exibido, mas no modo celular não" */

  .caixa-items {
    overflow-x: hidden;
  }
}
